section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding: 10px;
  article {
    background-color: #efefef;
    figure {
      img {
        width: 100%;
      }
    }
  }

  .avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
    }
  }
}
